<div style="max-width: 600px; border: 1px solid #efefef; padding: 8px 16px">
  <!-- Header -->
  <div style="margin-bottom: 16px">
    <p>Dragi Mute,</p>
  </div>
  <!-- Main Content -->
  <div style="margin-bottom: 16px; color: #222"><%- html %></div>
  <div style="margin-bottom: 16px; color: #222"><%- name %></div>
  <!-- Footer -->
  <div style="color: #cccccc">
    <p>Poruka poslana sa kontakt forme na Begluci.ba</p>
  </div>
</div>
