---
import Layout from "@/components/Layout.astro"
import CarouselWrapper from "@/components/ui/CarouselWrapper.tsx"
---

<Layout>
  <h1>Begluci.ba</h1>

  <CarouselWrapper client:load />

  <div class="mx-auto max-w-lg flex flex-col gap-4">
    <form action="/actions/send-custom-email" method="post">
      <h2>Kontakt</h2>
      <div>
        <label for="send-email__recipient">Za:</label>
        <input placeholder="Email" type="email" name="recipient" id="send-email__recipient" required />
      </div>
      <div>
        <label for="send-email__subject">Naslov:</label>
        <input placeholder="Naslov" type="text" name="subject" id="send-email__subject" required />
      </div>
      <div>
        <label for="send-email__message">Poruka:</label>
        <textarea placeholder="Poruka" name="message" id="send-email__message" required></textarea>
      </div>
      <input type="submit" value="Pošalji" />
    </form>
  </div>
</Layout>
