---
import ContactForm from "@/components/ContactForm.astro"
import Layout from "@/components/Layout.astro"
import CarouselWrapper from "@/components/ui/CarouselWrapper.tsx"
---

<Layout>
  <section>
    <img class="max-w-96" src="/images/icon.png" alt="" />
  </section>

  <section id="about">
    <p>
      The Kiraethana Mosque complex (Beglučka Džamija) is located in the sparsely populated village of Begluci, Bosnia
      and Herzegovina. The mosque was built on the site of a previous mosque that had stood for nearly 200 years before
      being destroyed during the war of 1992-1995. Today, the mosque complex serves as a gathering place for the
      community, not only for prayer but also for community events. The complex also aims to welcome guests from the
      Bosnian diaspora, encouraging them to contribute to the growing Kiraethana collection.
    </p>
  </section>

  <section id="facilities">
    <p>
      The complex includes the Kiraethana Mosque, an Ablution pavilion, and the Riverside pavilion along the Ukrina
      River. The mosque covers a net area of 176.30 square meters. As a programmatic add-on, apart from an apartment for
      contributing guests, architects have incorporated a Kiraethana—a library and reading space—addressing the region's
      lack of modern library facilities. Therefore, the Surah "Iqra Bismi Rabbika" ("Read! In the Name of Your Lord") is
      featured in three forms: as a short inscription in stone above the entrance, as an expanded version upon entry,
      and as the full Surah crowning the prayer hall.
    </p>
  </section>

  <section id="gallery" class="py-0 items-center">
    <CarouselWrapper arrows client:load />
  </section>

  <section id="vision">
    <p>
      Beyond merely rebuilding a religious structure, the project aims to become a catalyst for community unification
      and education. By integrating a library and reading room (Kiraethana) into the modest design, the mosque now
      serves as a hub for knowledge exchange, fostering deeper social connections within the local community. If you
      would like to contribute to the development of this complex, either by donation or by adding to the Kiraethana
      collection, please contact us.
    </p>
  </section>

  <section id="contact" class="items-center">
    <ContactForm />
  </section>

  <footer></footer>

  <div class="backdrop">
    <div class="overlay"></div>
    <CarouselWrapper fade client:load />
  </div>
</Layout>
