---
import Layout from "../components/Layout.astro"
---

<Layout>
  <main class="max-w-screen-sm mx-auto text-center">
    <h1>Begluci.ba</h1>
    <p>Your message was sent successfully!</p>
    <p><a href="/">&larr;&nbsp;&nbsp;Back to homepage</a></p>
  </main>
</Layout>

<style>
  p {
    @apply text-2xl mb-3 text-black;
  }

  a {
    @apply pl-6 pr-8 py-2 border border-stone-400 font-bold;
    @apply uppercase text-xs rounded-full inline-block text-black;
  }
</style>
