<form action="/actions/send-custom-email" method="post">
  <p>
    If you would like to contribute to the development of this complex, either by donation or by adding to the
    Kiraethana collection, please&nbsp;contac&nbsp;us.
  </p>
  <label for="send-email__recipient">For:</label>
  <input placeholder="Email" type="email" name="recipient" id="send-email__recipient" required />

  <label for="send-email__name">Full name:</label>
  <input placeholder="Full name" type="text" name="name" id="send-email__name" required />

  <label for="send-email__message">Message:</label>
  <textarea placeholder="Message" name="message" id="send-email__message" required></textarea>

  <div class="flex md:flex-row justify-between gap-4">
    <label class="consent" for="send-email__consent">
      <input class="size-6" type="checkbox" name="consent" id="send-email__consent" required />
      I agree www.begluci.ba will process my personal data for relationship records
    </label>

    <input class="w-full md:w-auto" type="submit" value="Send message" />
  </div>
</form>

<style>
  form {
    @apply mx-auto max-w-xl flex flex-col gap-4;
  }

  p {
    @apply text-base text-left;
  }

  label {
    color: white;

    &.consent {
      @apply text-balance md:w-1/2 flex items-center justify-start text-left gap-2 leading-tight text-xs;
    }
  }
</style>
