<ul>
  <li><a href="#about">ABOUT</a></li>
  <li>|</li>
  <li><a href="#facilities">FACILITIES</a></li>
  <li>|</li>
  <li><a href="#gallery">GALLERY</a></li>
  <li>|</li>
  <li><a href="#vision">VISION</a></li>
  <li>|</li>
  <li><a href="#contact">CONTACT</a></li>
</ul>

<style>
  ul {
    position: fixed;
    bottom: 2rem;
    right: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    gap: 0.75rem;
    color: white;
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }

  li {
    font-size: 14px;
  }

  a {
    color: #f0f0f0;
    text-decoration: none;

    &:hover {
      color: white;
    }
  }
</style>
