<ul>
  <li><a href="#about">ABOUT</a></li>
  <li>|</li>
  <li><a href="#facilities">FACILITIES</a></li>
  <li>|</li>
  <li><a href="#gallery">GALLERY</a></li>
  <li>|</li>
  <li><a href="#vision">VISION</a></li>
  <li>|</li>
  <li><a href="#contact">CONTACT</a></li>
</ul>

<style>
  ul {
    font-weight: bold;
    position: fixed;
    bottom: 420px;
    right: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    gap: 0.75rem;
    color: white;
    /* writing-mode: vertical-rl; */
    /* writing-mode: sideways-lr; */
    /* text-orientation: mixed; */
    /* rotate text 90 degrees */
    transform: rotate(-90deg);
    transform-origin: top right;
  }

  li {
    font-size: 14px;
  }

  a {
    color: #f0f0f0;
    text-decoration: none;

    &:hover {
      color: white;
    }
  }
</style>
