<ul>
  <li><a href="#about">ABOUT</a></li>
  <li><a href="#facilities">FACILITIES</a></li>
  <li><a href="#gallery">GALLERY</a></li>
  <li><a href="#vision">VISION</a></li>
  <li><a href="#contact">CONTACT</a></li>
</ul>

<style>
  ul {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    gap: 1rem;
  }

  li {
    font-size: 14px;
  }

  a {
    text-decoration: none;
    color: #333;
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }
</style>
