@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  margin: 2rem 0;
}

h2 {
  font-size: 1rem;
  text-transform: uppercase;
  margin: 0.5rem 0;
}

form {
  /* @apply bg-black/30 rounded; */
  display: flex;
  flex-direction: column;
  gap: 1rem;

  label {
    display: none;
  }

  input,
  textarea {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    box-shadow: inset 1px 1px 8px rgba(0, 0, 0, 0.1);
  }

  button,
  input[type="submit"] {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 0.5rem 2rem;
    border: 1px solid #000;
    border-radius: 0.5rem;
    background-color: #000;
    color: white;
    cursor: pointer;
    display: block;
    align-self: flex-end;
  }

  div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

hr {
  margin: 2rem 0;
  display: block;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

p {
  @apply text-lg md:text-xl leading-[1.5em];
  color: white;
}

section {
  @apply items-center justify-end gap-8 flex-col flex py-8 pl-4 pr-12 md:p-[8rem] text-left;
  @apply text-base md:text-lg md:leading-[1.75em] h-screen;

  .next {
    @apply text-white p-2 border-2 border-white/50 rounded-full block;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100 !important;
    height: 100% !important;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    z-index: 1;
  }

  .slider {
    height: 100%;

    div {
      height: 100%;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

footer {
  height: 100vh;
}
