@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  margin: 2rem 0;
}

h2 {
  font-size: 1rem;
  text-transform: uppercase;
  margin: 0.5rem 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  label {
    display: none;
  }

  input,
  textarea {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    box-shadow: inset 1px 1px 8px rgba(0, 0, 0, 0.1);
  }

  button,
  input[type="submit"] {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 0.5rem 2rem;
    border: 1px solid #000;
    border-radius: 0.5rem;
    background-color: #000;
    color: white;
    cursor: pointer;
    display: inline-block;
    align-self: flex-end;
  }

  div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

hr {
  margin: 2rem 0;
  display: block;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
